.footer {
  width: 100%;
  background-color: #0a0f24; /* dark navy */
  color: #5f93c7;
  text-align: center;
  padding: 14px 0;
  font-size: 14px;
  margin-top: 200px; /* space from dashboard content */
  position: fixed; /* normal flow */
}
